.sass-cache
.tmp
dist/
dist-zips/
dev/
temp/
node_modules/
app/bower_components

etc/scripts/output

# OS files
.DS_Store
Thumbs.db

# TextMate files
*.tmproj
*.tmproject
tmtags

# SublimeText project files
*.sublime-project
*.sublime-workspace